env
**/*.pyc
**/__pycache__
lib/
media
.DS_Store
*.sqlite3
*.env

# Accept these files in the repository
!.gitignore
!.travis.yml
/.env
/.vscode
/Lib/site-packages
/Lib/site-packages/django_allauth-0.42.0-py3.8.egg-info