{% extends "base.html" %} {% load static %} {% block content %}


<!-- breadcumb-area start -->
<div class="bradcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>درباره ما</h2>
                <div class="bradcumb-wrap">
                    <ul>
                        <li><a href="index.html">صفحه اصلی</a></li>
                        <li>|</li>
                        <li>درباره ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcumb-area end -->

<!-- about-area start -->
<div class="about-area ptb-100 bg-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-wrap">
                    <h3>فروشگاه آبادیس</h3>
                    <p>اگر به خوش پوشی فکر میکنید؛ به آبادیس خوش آمدید. در آبادیس تیشرت هایی با طرح های متنوع و منحصربه فرد و مطابق با سلیقه تان موجود است که انتخاب کردن را برای شما سخت می کند.</p>
                    <p>خدمات و محصولات آبادیس،به شرح زیر ارائه می گردد: </p>
                    <ul>
                        <li> تیشرت های ویژه آبادیس با طرح های خاص و قیمت مناسب</li>
                        <li>تی شرت آبادیس با چاپ طرح دلخواه شما</li>
                        <li>تیشرت دیجیتال آبادیس با امکان درج بارکد(QR-code)، شامل قابلیت های زیر :
                            <ul>
                                <li>تیشرت موزیکال با پخش صدای دلخواه شما</li>
                                <li>تی شرت مصور با نمایش عکس دلخواه شما</li>
                                <li>تی شرت نمایشی با ارائه فیلم دلخواه شما</li>
                            </ul>
                        </li>
                        <li>تیشرت های ست دونفره آبادیس با طراحی جذاب</li>
                        <li>تیشرت های ست خانوادگی آبادیس، نشاط آور و صمیمی</li>
                        <li>تی شرت های سینمایی آبادیس با نمایی از پرطرفدارترین فیلم و سریال های روز دنیا</li>
                        <li> تیشرت های مناسبتی ملی_مذهبی آبادیس</li>
                    </ul>
                    <p>
                        هریک از اقلام این مجموعه متنوع ودوست داشتنی، به صورت رایگان طی ۶ الی ۷ روز کاری ارسال می گردد.
                    </p>
                    <p>
                        ما به کیفیت وفاداریم؛ شما به آبادیس وفادار باشید.
                    </p>
                    <p>آبادیس، پاسخگوی طبع سخت پسند و سلیقه خاص شما می باشد و با ارائه و پشتیبانی آنلاین در زمینه های مختلف در جهت بهبود هرچه بهتر خدمات، خرید کردن را به یک تجربه خوب و به یاد ماندنی برای شما تبدیل می کند.</p>
                    <p>از فرصت دوستی با آبادیس استفاده کنید؛ ما هم فرصت دوستی با شما را ارج می نهیم.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-active">
                    <div class="about-img">
                        <img src="{%static 'img/about/1.png' %}" alt="تیشرت_های_خاص" />
                    </div>
                    <div class="about-img">
                        <img src="{%static  'img/about/2.jpg' %}" alt="تیشرت_با_طرح_دلخواه" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- about-area end -->

{% endblock content %}