{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>فروشگاه آبادیس || فروش تیشرت خاص</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="plilK24Zpure0UeWdRbOv31XmbN8Vh7RsKV2jtHnbKY" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %} ">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- font stylesheet.css -->
    <link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}">
    <!-- owl.carousel.min.css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- font-awesome.min.css -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- magnific-popup.css -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- slicknav.min.css -->
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- style.css -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- responsive.css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Color Css Files Start -->
    <link href="{% static 'css/switcher/switcher.css' %}" rel="stylesheet">
    <link href="{% static 'css/switcher/style-1.css' %}" rel="stylesheet" id="colors">
    <!-- Color Css Files End -->

    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>

    <div class="loader-container circle-pulse-multiple">
        <div class="loader">
            <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    <!--End preloader area-->

    <div class="overlay-bg"></div>
    <header class="home2-header-area">
        {% comment %}
        <div class="header-muddil-area bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="logo">
                            <h1><a href="/"><span>E</span>como<span>S</span>hop</a></h1>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="select-form">
                            <form action="#">
                                <select name="select">
									<option value="Select Cetagory">Select Cetagory</option>
									<option value="web Design">Web Design</option>
									<option value="web Design">Web Development</option>
									<option value="web Design">FrontEnd Development</option>
									<option value="web Design">Backend Development</option>
									<option value="web Design">PhotoShop</option>
									<option value="web Design">HTML 5</option>
								</select>
                                <input type="text" placeholder="Search Here...." />
                                <button>Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="header-bottom-area" id="sticky-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-8">
                        <div class="header-bottom-right text-right">
                            <div class="cart" style="margin-left:20px">
                                <a href="/order/cart"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="logo">
                                <h1><a href="/"><span>A</span>B<span>A</span>DI<span>S</span><img
											src="{% static '/img/abadis.png' %}" /></a></h1>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-1 clear col-xs-4 hidden-md hidden-lg">
                        <div class="responsive-menu-wrap floatright"></div>
                    </div>
                    <div class="col-md-9 hidden-sm hidden-xs">
                        <div class="mainmenu">
                            <ul id="navigation">
                                <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="/">صفحه اصلی </a></i>
                                    <li class="{% if request.resolver_match.url_name == 'products' %}active{% endif %}"><a href="/products">فروشگاه </a></i>
                                        <li><a href="javascript:void(0)">محصولات<i class="fa fa-caret-down"></i></a>
                                            <ul>
                                                {% for cat in cats %}
                                                <li><a href="/categories/{{cat.id}}">{{cat}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class=""><a href="/contact">ارتباط با ما </a></li>
                                        <li class=""><a href="/about">درباره ما </a></li>


                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% block content %} {% endblock content %}
    <!-- footer-area start -->
    <footer class="footer-area">
        <div class="footer-top ptb-100 bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <div class="logo">
                                <h1>
                                    <a href="/"><img src="{% static '/img/abadis.png' %}" /></a>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <div class="footer-widget">
                            <h2>دسته بندی محصولات</h2>
                            <div class="footer-menu">
                                <ul>
                                    {% for cat in cats %}
                                    <li><a href="/categories/{{cat.id}}">{{cat}}</a></li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="footer-widget">
                            <h2>لینک های ضروری</h2>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/about">درباره ما</a></li>
                                    <li><a href="/contact">ارتباط با ما</a></li>
                                    <li><a href="/">صفحه اصلی</a></li>
                                    <li><a href="/products">فروشگاه</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-8">
                        <div class="footer-widget">
                            <h2>راه های ارتباطی</h2>
                            <div class="contact">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/abadis_tshirt/"><i
												class="fa fa-instagram"></i></a>
                                        <a href="https://t.me/abadistshirt"><i class="fa fa-telegram"></i></a>
                                        <a href="https://wa.me/00989109388289"><i class="fa fa-whatsapp"></i></a>
                                    </li>
                                    <li><a href="tel:09199108289">09199108289<a></li>
									<li><a href="mailto:info@abadis-shop.ir">info@abadis-shop.ir<a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="copyright">
							<p>تمام حقوق مادی و معنوی این سایت متعلق به فروشگاه آبادیس میباشد</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer-area end -->
	<div class="free-delivery">
		<img src="{% static 'img/delivery.png' %}" alt="">
		<div id="container">
			<span>ارسال</span>
			<span>رایگان</span>
			<span>به</span>
			<span>سراسر</span>
			<span>کشور</span>
		</div>
	</div>
	<!-- main jquery -->
	<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
	<!-- bootstrap.js -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- owl.carousel.min.js -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- plaugin js -->
	<script src="{% static 'js/plugins.js' %}"></script>
	<!-- jquery.countdown.min.js -->
	<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
	<!-- imagesloaded.pkgd.min.js -->
	<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
	<!-- jquery.magnific-popup.min.js -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- jquery.slicknav.min.js -->
	<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
	<!-- jquery.waypoints.min.js -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- counterup.main.js -->
	<script src="{% static 'js/counterup.main.js' %}"></script>
	<!-- jquery-ui js -->
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<!-- isotope.pkgd.min.js -->
	<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<!-- switcher.js -->
	<script src="{% static 'js/switcher.js' %}"></script>
	<!-- wow.min.js -->
	<script src="{% static 'js/wow.min.js' %}"></script>
	<script src="{% static 'js/sweetalert2.js' %}"></script>
	<!-- main.js -->
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/fingerprint.js' %}"></script>
	<script>
		$(".radiobtn").click(function () {
			$(this).children("input").prop("checked", true);
		})
		$(".radiobtn-f").click(function () {
			$(this).children("input").prop("checked", true);
		})
		$(document).ready(function () {
			$('.cont-submit').click(function () {
				Swal.fire(
					'',
					'پیام شما ارسال شد',
					'success'
				)
			})
			$(function () {
				var counter = $('#container').find("*").length;
				setInterval(function () {
					var lastelementcounter = counter;
					lastelementcounter--;
					$('#container span:nth-child(' + lastelementcounter + ')').animate({ "margin-top": "0px" }, 500);
					$('#container span:nth-child(' + counter + ')').animate({ "margin-top": "-10px" }, 500);
					if (counter > 10) counter = 1;
					else counter++;

				}, 100);
			})

			var sum = 0;
			$('table.cart-table .amount').each(function () {
				sum += parseInt($(this).text());
			});
			var sum_checkout = 0;
			$('strong.amount').each(function () {
				sum_checkout += parseInt($(this).text());
			});
			$(".cart-total tbody tr td").text(sum)
			$(".cart-total strong").text(sum_checkout)
			$("input.cart-total").val(sum_checkout)
			$(".set_values").first().children("label").first().addClass("checked");

			$(".radiobtn").first().children("input").prop("checked", true);
			$(".checked").siblings("input[type='radio']").prop("checked", true);
			if ($(".set").length > 0) {
				split = $(".checked").siblings(".set").val().split("_");
				console.log(split)
				if (split.length > 0) {
					$(".size .small").addClass(split[0])
					$(".size .small-f").addClass(split[1])
				}
			} else if ($(".single").length > 0) {
				$(".size .small").addClass($(".checked").siblings(".single").val())
			} else {
				$(".size .small").addClass($(".checked").siblings(".family").val())
				$(".size .small-f").addClass($(".checked").siblings(".family").val())
			}



			$(".qr-wrapper input[name='qr']").click(function () {
				if ($(".qr-wrapper input[name='qr']:checked").length > 0) {
					$(".price").each(function () {
						var price = parseInt($(this).find(".num").text()) + 20000
						$(this).children(".num").text(price)
						console.log(price)

					})
				} else {
					$(".price").each(function () {
						var price = parseInt($(this).find(".num").text()) - 20000
						$(this).children(".num").text(price)

					})
				}
			})
			$(".qr-wrapper-f input[name='qr']").click(function () {
				if ($(".qr-wrapper-f input[name='qr']:checked").length > 0) {
					$(".price").each(function () {
						var price = parseInt($(this).find(".num").text()) + 20000
						$(this).children(".num").text(price)
						console.log(price)

					})
				} else {
					$(".price").each(function () {
						var price = parseInt($(this).find(".num").text()) - 20000
						$(this).children(".num").text(price)

					})
				}
			})
			$(".size-value input#3XL").siblings('label').click(function () {
				if ($(".size-add-value").length == 0) {
					$(this).addClass('size-add-value')
					if ($(".size-add-value").length > 0) {
						$(".price").each(function () {
							var price = parseInt($(this).find(".num").text()) + 10000
							$(this).children(".num").text(price)
							console.log(price)
						})
					}
				}
			})

			$(".normal-price label").click(function () {
				if ($(".size-add-value").length > 0) {
					$('.size-add-value').removeClass('size-add-value')
					if ($(".size-add-value").length == 0) {
						$(".price").each(function () {
							var price = parseInt($(this).find(".num").text()) - 10000
							$(this).children(".num").text(price)
						})
					}
				}
			})
			$(".size-value input#3XL-f").siblings('label').click(function () {
				if ($(".size-add-value-plus").length == 0) {
					$(this).addClass('size-add-value-plus')
					if ($(".size-add-value-plus").length > 0) {
						console.log($(".price").length)
						$(".price").each(function () {
							var price = parseInt($(this).find(".num").text()) + 10000
							$(this).children(".num").text(price)
							console.log(price)
						})
					}
				}
			})

			$(".normal-price-f label").click(function () {
				if ($(".size-add-value-plus").length > 0) {
					$('.size-add-value-plus').removeClass('size-add-value-plus')
					if ($(".size-add-value-plus").length == 0) {
						$(".price").each(function () {
							var price = parseInt($(this).find(".num").text()) - 10000
							$(this).children(".num").text(price)
							$(this).parent("label").siblings('input[name="price"]').val(price)
						})
					}
				}
			})
			$('.radiobtn label').click(function () {
				var lastClass = $('.size .small').attr('class').split(' ').pop();
				$('.size .small').removeClass(lastClass);
				if ($(".small-f").length > 0) {
					var lastClass = $('.size .small-f').attr('class').split(' ').pop();
				}
				$('.size .small-f').removeClass(lastClass);
				$(".checked").removeClass("checked")
				$(this).addClass("checked")
				if ($(".set").length > 0) {
					split = $(".checked").siblings(".set").val().split("_");
					console.log(split)
					if (split.length > 0) {
						$(".size .small").addClass(split[0])
						$(".size .small-f").addClass(split[1])
					}
				} else if ($(".single").length > 0) {
					$(".size .small").addClass($(".checked").siblings(".single").val())
				} else {
					$(".size .small").addClass($(".checked").siblings(".family").val())
					$(".size .small-f").addClass($(".checked").siblings(".family").val())
				}
			})
			// $('.product-details-area .qr-wrapper').click(function () {
			// 	if ($(this).children("input[type='checkbox']:checked").length > 0) {
			// 		$(this).children("input[type='checkbox']").val("True")
			// 	}else{
			// 		$(this).children("input[type='checkbox']").val("False")
			// 	}
			// })
			// function walkNode(node) {
			// 	if (node.nodeType == 3) {
			// 		// Do your replacement here
			// 		node.data = node.data.replace(/\d/g, convert);
			// 	}

			// 	// Also replace text in child nodes
			// 	for (var i = 0; i < node.childNodes.length; i++) {
			// 		walkNode(node.childNodes[i]);
			// 	}
			// }

			// walkNode(document.getElementsByTagName('body')[0]);

			// function convert(a) {
			// 	return ['۰', '۱', '۲', '۳', '۴', '۵', '۶', '۷', '۸', '۹'][a];
			// }
		})


	</script>
	<script>
		$('.payment-btn').click(function (e) {
			$.ajax({
				type: 'POST',
				headers: {
					'X-API-KEY': 'db6d4b4b-5564-4917-b512-02e6aab6aebb',
					'X-SANDBOX': true,
					'Content-Type': 'application/json'
				},
				url: 'https://api.idpay.ir/v1.1/payment',
				data: {
					order_id: '50',
					amount: 1000,
					callback: 'http://127.0.0.1:8000/',
				},
				success: function () {
					console.log('success')
				}
			})
		})
		$('.onSubmit').click(function (e) {
			$('table.cart-table td.update form ').each(function () {
				$.ajax({
					type: 'POST',
					url: '/order/updateCart',
					data: {
						quantity: $(this).find('.quantity').val(),
						slug: $(this).find('.slug').val(),
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
					},
					success: function () {
						Swal.fire(
							'',
							'محصول به سبد خریدتان اضافه شد',
							'success'
						)
					}
				})
			})
			location.reload()
		})
		$('.addtocart').click(function (e) {
			$('.product-details-area form ').each(function () {
				e.preventDefault()
				if ($('.set_product').length > 0) {
					console.log($(this).find('.set-name').val())
					$.ajax({
						type: 'POST',
						url: $(this).data('url'),
						data: {
							price: parseFloat($('.checked .price .num').text()) / 2,
							size: $(this).find('.size-value input[type="radio"]:checked').val(),
							qr: $(this).find('input[name="qr"]:checked').val(),
							model: $('.checked').siblings('input[name="model"]').val() + "-" + $(this).find('.set-name').val(),
							uid: $(this).find('input[name="uid"]').val(),
							quantity: $('input[name="quantity"]').val(),
							csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
						},
						success: function () {
							Swal.fire(
								'',
								'محصول به سبد خریدتان اضافه شد',
								'success'
							)
						}
					})
				} else if ($('.family').length > 0) {
					$.ajax({
						type: 'POST',
						url: $(this).data('url'),
						data: {
							price: parseFloat($('.checked .price .num').text()) / 3,
							size: $(this).find('.size-value input[type="radio"]:checked').val(),
							qr: $(this).find('input[name="qr"]:checked').val(),
							model: $('.checked').siblings('input[name="model"]').val() + "-" + $(this).find('.family-name').val(),
							uid: $(this).find('input[name="uid"]').val(),
							quantity: $('input[name="quantity"]').val(),
							csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
						},
						success: function () {
							Swal.fire(
								'',
								'محصول به سبد خریدتان اضافه شد',
								'success'
							)
						}
					})
				}
				else {
					console.log(parseInt($('.checked .price .num').text()))
					$.ajax({
						type: 'POST',
						url: $(this).data('url'),
						data: {
							price: parseInt($('.checked .price .num').text()),
							size: $(this).find('.size-value input[type="radio"]:checked').val(),
							qr: $(this).find('input[name="qr"]:checked').val(),
							model: $('.checked').siblings('input[name="model"]').val() + $(this).find('.set-name').text(),
							uid: $(this).find('input[name="uid"]').val(),
							quantity: $('input[name="quantity"]').val(),
							csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
						},
						success: function () {
							Swal.fire(
								'',
								'محصول به سبد خریدتان اضافه شد',
								'success'
							)
						}
					})
				}

			})
		})

	</script>
</body>


</html>