{% extends "base.html" %}

{% block content %}
	
		<!-- breadcumb-area start -->
		<div class="bradcumb-area black-opacity bg-img-1">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="bradcumb-wrap">
							<h2>{{category}}</h2>
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>|</li>
								<li>Shop</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcumb-area end -->
		
		<!-- shop-area start -->
		<div class="shop-area ptb-100 bg-4 product-area2">
			<div class="container">
				<div class="row mb-40">
					<div class="col-md-7 col-lg-8 col-sm-6 col-xs-12">
						<h3 class="shop-title">Showing 1-12 of 64 results</h3>
					</div>
					<div class="col-md-5 col-lg-4 col-sm-6 col-xs-12">
						<div class="shop-select-form">
							<select>
								<option value="Select Cetagory">Select Cetagory</option>
								<option value="Web Design">Web Design</option>
								<option value="Web Development">Web Development</option>
								<option value="Frontend Developer">Frontend Developer</option>
								<option value="Backend Developer">Web Design</option>
								<option value="UX/UI Designer">Web Design</option>
							</select>
						</div>
						<div class="shop-menu">
							<ul>
								<li class="active"><a href="#grid" data-toggle="tab"><i class="fa fa-th"></i></a></li>
								<li><a href="#list" data-toggle="tab"><i class="fa fa-list"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="tab-content">
							<div class="tab-pane active" id="grid">
								<div class="row">
								{% for item in category_items %}
										<div class="col-xs-12 col-lg-3 col-md-4 col-sm-6">
											<div class="product-wrap mb-30">
												<div class="product-img">
													<a href="{{item.get_absolute_url}}">
														<img class="primary" src="{{item.img_url.url}}" alt="">
														{% comment %} <img class="secondary" src="img/product/2.jpg" alt=""> {% endcomment %}
													</a>
													<div class="product-icon">
														<ul>
															<li>
																<a href="cart.html">
																	<i class="fa fa-shopping-cart"></i>
																	<span>Add to Cart</span>
																</a>
															</li>
															<li>
																<a href="wishlist.html">
																	<i class="fa fa-heart"></i>
																	<span>Wishlist</span>
																</a>
															</li>
															<li>
																<a href="checkout.html">
																	<i class="fa fa-compress"></i>
																	<span>Compare</span>
																</a>
															</li>
														</ul>
													</div>
													<span class="sale">{{item.category}}</span>
												</div>
												<div class="product-content text-center">
													<a href="{{item.get_absolute_url}}">{{item.title}}</a>
													<div class="ratting">
														<ul>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star-half-o"></i></li>
															<li><i class="fa fa-star-o"></i></li>
														</ul>
													</div>
													<span>{{item.price}}</span>
													{% comment %} <del>$30.00</del> {% endcomment %}
												</div>
											</div>
										</div>
									
								{% endfor %}
								
					
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="pagination-wrap">
											<ul>
												<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
												<li class="active"><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="list">
								<div class="shop-list-area">
									<div class="row">
										<div class="col-xs-12">
											<div class="shop-list-wrap mb-30">
												<div class="shop-list-img">
													<img src="img/product/2.jpg" alt="" />
												</div>
												<div class="shop-list-content">
													<h3>All In Black Snapback</h3>
													<div class="ratting">
														<ul>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star-o"></i></li>
														</ul>
													</div>
													<div class="price">
														<span>$50.00</span>
														<del>$55.00</del>
													</div>
													<div class="stock">
														<strong>Aveilable</strong>
														<span>In Stock</span>
													</div>
													<p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</p>
													<div class="product-action">
														<ul>
															<li><a href="#"><i class="fa fa-shopping-cart"></i> Add To Cart</a></li>
															<li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
															<li><a href="#"><i class="fa fa-compress"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="shop-list-wrap mb-30">
												<div class="shop-list-img">
													<img src="img/product/3.jpg" alt="" />
												</div>
												<div class="shop-list-content">
													<h3>Boyfriend Jeans</h3>
													<div class="ratting">
														<ul>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star-o"></i></li>
														</ul>
													</div>
													<div class="price">
														<span>$45.00</span>
														<del>$40.00</del>
													</div>
													<div class="stock">
														<strong>Aveilable</strong>
														<span>In Stock</span>
													</div>
													<p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</p>
													<div class="product-action">
														<ul>
															<li><a href="#"><i class="fa fa-shopping-cart"></i> Add To Cart</a></li>
															<li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
															<li><a href="#"><i class="fa fa-compress"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="shop-list-wrap mb-30">
												<div class="shop-list-img">
													<img src="img/product/4.jpg" alt="" />
												</div>
												<div class="shop-list-content">
													<h3>Breton Stripe T-Shirt</h3>
													<div class="ratting">
														<ul>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star-o"></i></li>
														</ul>
													</div>
													<div class="price">
														<span>$30.00</span>
													</div>
													<div class="stock">
														<strong>Aveilable</strong>
														<span>In Stock</span>
													</div>
													<p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</p>
													<div class="product-action">
														<ul>
															<li><a href="#"><i class="fa fa-shopping-cart"></i> Add To Cart</a></li>
															<li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
															<li><a href="#"><i class="fa fa-compress"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="shop-list-wrap mb-30">
												<div class="shop-list-img">
													<img src="img/product/5.jpg" alt="" />
												</div>
												<div class="shop-list-content">
													<h3>Bucket Hat in Terry Towel</h3>
													<div class="ratting">
														<ul>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star-o"></i></li>
														</ul>
													</div>
													<div class="price">
														<span>$51.00</span>
														<del>$46.00</del>
													</div>
													<div class="stock">
														<strong>Aveilable</strong>
														<span>In Stock</span>
													</div>
													<p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</p>
													<div class="product-action">
														<ul>
															<li><a href="#"><i class="fa fa-shopping-cart"></i> Add To Cart</a></li>
															<li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
															<li><a href="#"><i class="fa fa-compress"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="shop-list-wrap">
												<div class="shop-list-img">
													<img src="img/product/6.jpg" alt="" />
												</div>
												<div class="shop-list-content">
													<h3>Distressed Denim Shirt</h3>
													<div class="ratting">
														<ul>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star-o"></i></li>
														</ul>
													</div>
													<div class="price">
														<span>$20.00</span>
													</div>
													<div class="stock">
														<strong>Aveilable</strong>
														<span>In Stock</span>
													</div>
													<p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</p>
													<div class="product-action">
														<ul>
															<li><a href="#"><i class="fa fa-shopping-cart"></i> Add To Cart</a></li>
															<li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
															<li><a href="#"><i class="fa fa-compress"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="pagination-wrap">
												<ul>
													<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
													<li class="active"><a href="#">1</a></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .shop-area end -->
		
		<!-- brand-area start -->
		<div class="brand-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="brand-active">
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/1.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/2.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/3.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/4.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/5.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/6.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/7.jpg" alt="" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- brand-area start -->
{% endblock content %}
		