{% extends "base.html" %} {% block content %}

<!-- breadcumb-area start -->
<div class="bradcumb-area black-opacity bg-img-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="bradcumb-wrap">
                    <h2>تسویه حساب</h2>
                    <ul>
                        <li><a href="/">صفحه اصلی</a></li>
                        <li>|</li>
                        <li><a href="/products">فروشگاه</a></li>
                        <li>|</li>
                        <li>تسویه حساب</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcumb-area end -->

<!-- checkout-area start -->
<div class="checkout-area ptb-100 bg-4 form-style">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="cart-title">تسویه حساب</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form class="checkout-form-wrap mb-20" method="POST" action="/order/getinfo">
                    {% csrf_token %}
                    <h3 class="checkout-title">مشخصات گیرنده</h3>
                    <div class="checkout-form">
                        <div class="row">
                            <div class="col-md-12">
                                <p>نام و نام خانوادگی<span>*</span></p>
                                <input type="text" name="name" required value="{% if order.name %}{{order.name}}{% endif %}">
                            </div>
                            <div class="col-md-12">
                                <p>شماره تماس <span>*</span></p>
                                <input type="text" name="tel" required value="{% if order.tel %}{{order.tel}}{% endif %}">
                            </div>
                            <div class="col-md-12">
                                <p>کد پستی <span>*</span></p>
                                <input type="text" name="zip_code" required value="{% if order.zip_code %}{{order.zip_code}}{% endif %}">
                            </div>
                            <div class="col-md-12">
                                <p>آدرس <span>*</span></p>
                                <textarea type="text" name="address" required>{% if order.address %}{{order.address}}{% endif %}</textarea>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button id="submit" class="cont-submit btn-contact" name="submit">پرداخت</button>
                            </div>
                            <input class="cart-total" type="number" hidden name="cart_total">
                            <input type="number" hidden name="id" value="{{order.id}}">
                        </div>

                    </div>

                </form>
            </div>
            <div class="col-md-6">
                <div class="checkout-form-wrap mb-20">
                    <h3 class="checkout-title">سفارش شما</h3>
                    <div class="checkout-form">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    {% for c in cart %}
                                    <li> {{c.quantity}} عدد {{c.product.title}} <strong class="amount"> {{c.amount}}
                                            تومان</strong>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class=" col-xs-12">
                                <ul>
                                    <li class="last cart-total"><b>قیمت کل</b> <b> <strong></strong> تومان </b></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- checkout-area end -->
<!-- cart-area end -->
{% endblock content %}