{% extends "base.html" %}

{% block content %}

<!-- breadcumb-area start -->
<div class="bradcumb-area black-opacity bg-img-3">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="bradcumb-wrap">
					<h2>CheckOut</h2>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>|</li>
						<li><a href="shop.html">Shop</a></li>
						<li>|</li>
						<li>CheckOut</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- breadcumb-area end -->

<!-- checkout-area start -->
<div class="checkout-area ptb-100 bg-4">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="cart-title">CheckOut</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="checkout-form-wrap mb-20">
					<h3 class="checkout-title">Billing Information</h3>
					<div class="checkout-form">
						<div class="row">
							<div class="col-md-6">
								<p>First Name <span>*</span></p>
								<input type="text" placeholder="Your first name..." />
							</div>
							<div class="col-md-6">
								<p>Last Name <span>*</span></p>
								<input type="text" placeholder="Your Last name..." />
							</div>
							<div class="col-xs-12">
								<p>Company Name</p>
								<input type="text" placeholder="Your company name..." />
							</div>
							<div class="col-md-6">
								<p>Phone <span>*</span></p>
								<input type="text" placeholder="Your phone..." />
							</div>
							<div class="col-md-6">
								<p>Email Address <span>*</span></p>
								<input type="email" placeholder="Your email address..." />
							</div>
							<div class="col-md-6">
								<p>Country <span>*</span></p>
								<select name="select">
									<option value="Select your Country...">Usa</option>
									<option>India</option>
									<option>Pakisthan</option>
									<option>Japan</option>
									<option>Bangladesh</option>
								</select>
							</div>
							<div class="col-md-6">
								<p>State / City <span>*</span></p>
								<select name="select">
									<option value="Select your Country...">Dhaka</option>
									<option>Jessor</option>
									<option>Khulna</option>
									<option>Japan</option>
									<option>Bangladesh</option>
								</select>
							</div>
							<div class="col-md-6">
								<p>Town <span>*</span></p>
								<select name="select">
									<option value="Select your Country...">Dhaka</option>
									<option>Jessor</option>
									<option>Khulna</option>
									<option>Japan</option>
									<option>Bangladesh</option>
								</select>
							</div>
							<div class="col-md-6">
								<p>EZIP / Post Code <span>*</span></p>
								<input type="email" placeholder="Your ZIP/Post Code here..." />
							</div>
							<div class="col-xs-12">
								<p>Address <span>*</span></p>
								<input type="text" placeholder="Street address..." />
								<input type="text" placeholder="Apartment, suite, unit etc. (optional)" />
								<input type="checkbox" />
								<span>Ship to the same address</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="checkout-form-wrap mb-20">
					<h3 class="checkout-title">Your Order</h3>
					<div class="checkout-form">
						<div class="row">
							<div class="col-xs-12">
								<ul>
									<li>Chomok Website Mock Up <strong>$30.00</strong></li>
									<li>Tree Inspiration Logo Template <strong>$25.00</strong></li>
									<li>Music Player UI Sets <strong>$19.00</strong></li>
								</ul>
							</div>
							<div class=" col-xs-12">
								<ul>
									<li><b>Cart Subtotal</b> <strong>$74.00</strong></li>
									<li><b>Shipping</b> <strong>$17.00</strong></li>
									<li class="last"><b>Cart Total</b> <strong>$91.00</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- checkout-area end -->
<!-- cart-area end -->
{% endblock content %}