{% extends "base.html" %}

<!-- slider-area start -->
{% block content %}
{% load static %}
<div class="slider-area">
	<div class="slider-active">
		<div class="single-slider">
			<img src="{% static 'img/slider/slider1.jpg' %}" alt="" />
			<div class="slider-content text-center">
				<div class="table">
					<div class="table-cell">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 col-xs-12">
									<h2>به فروشگاه<span> آبادیس </span></h2>
									<h3>خوش آمدید</h3>
									<a href="/products">مشاهده محصولات</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single-slider">
			<img src="{% static 'img/slider/slider2.jpg' %}" alt="" />
			<div class="slider-content text-right">
				<div class="table">
					<div class="table-cell">
						<div class="container">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-3 col-xs-12">
									<h2>تیشرت های<span> ست دونفره</span></h2>
									<h3>با قیمت مناسب</h3>
									<p></p>
									<a href="/categories/7/">خرید تیشرت های ست</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single-slider">
			<img src="{% static 'img/slider/slider4.jpg' %}" alt="" />
			<div class="slider-content">
				<div class="table">
					<div class="table-cell">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-1 col-lg-8 col-xs-12">
									<h2>تیشرت های <span>سریال های</span></h2>
									<h3>روز دنیا</h3>
									<a href="/categories/10/">خرید تیشرت های سریال</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- slider-area end -->
<div class="container">
	{% comment %} <div class="cat-wrapper next-prev-style">
		{% for cat in cats %}
		<div class="cat-content item">
			<a href="/categories/{{cat.id}}">{{cat.name}}</a>
			<img src="{{cat.image.url}}" alt="{{cat.name}}">
		</div>
		{% endfor %}
	</div> {% endcomment %}
	<div class="categories">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="section-title text-center mb-40">
					<h2>دسته بندی محصولات</h2>
				</div>
			</div>
		</div>
		<div class="row">
			{% for cat in cats %}
			<div class="cat-content col-md-3 pull-right item">
				<a href="/categories/{{cat.id}}">
					<span>{{cat.name}}</span>
					<img src="{{cat.image.url}}" alt="{{cat.name}}">
				</a>
			</div>
			{% endfor %}
		</div>
		<!-- banner-area start -->
		{% comment %} <div class="speacial-banner-area ptb-100">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<div class="banner-wrap">
							<div class="banner-img">
								<img src="{% static 'img/icon/1.png' %}" alt="" />
							</div>
							<div class="banner-content">
								<h2>35% Off This product</h2>
							</div>
							<div class="content">
								<p>Maecenas semper aliquam massa pharetra sem vitae nisi eleif molestie Maecenas semper
									aliquam massa pharetra.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="banner-wrap active">
							<div class="banner-img">
								<img src="{% static 'img/icon/2.png' %}" alt="" />
							</div>
							<div class="banner-content">
								<h2>60% Off This product</h2>
							</div>
							<div class="content">
								<p>Maecenas semper aliquam massa pharetra sem vitae nisi eleif molestie Maecenas semper
									aliquam massa pharetra.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="banner-wrap clear">
							<div class="banner-img">
								<img src="{% static 'img/icon/3.png' %}" alt="" />
							</div>
							<div class="banner-content">
								<h2>40% Off This product</h2>
							</div>
							<div class="content">
								<p>Maecenas semper aliquam massa pharetra sem vitae nisi eleif molestie Maecenas semper
									aliquam massa pharetra.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> {% endcomment %}
		<!-- banner-area end -->
	</div>
</div>
<div class="testmonial-area ptb-100 black-opacity">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-12">
				<div class="section-title text-center mb-40 section-title2 about-section">
					<h2>درباره فروشگاه آبادیس</h2>
					<p>اگر به خوش پوشی فکر میکنید؛ به آبادیس خوش آمدید. در آبادیس تیشرت هایی با طرح های متنوع و منحصربه
						فرد و مطابق با سلیقه تان موجود است که انتخاب کردن را برای شما سخت می کند.</p>
					<p>هریک از اقلام این مجموعه متنوع ودوست داشتنی، به صورت رایگان طی ۶ الی ۷ روز کاری ارسال می گردد.
					</p>
					<p>ما به کیفیت وفاداریم؛ شما به آبادیس وفادار باشید.</p>
					<p>آبادیس، پاسخگوی طبع سخت پسند و سلیقه خاص شما می باشد و با ارائه و پشتیبانی آنلاین در زمینه های
						مختلف در جهت بهبود هرچه بهتر خدمات، خرید کردن را به یک تجربه خوب و به یاد ماندنی برای شما تبدیل
						می کند.</p>
					<p>از فرصت دوستی با آبادیس استفاده کنید؛ ما هم فرصت دوستی با شما را ارج می نهیم.</p>
					<a class="btn btn-orange" href="/about">درباره ما</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- product-area start -->
<div class="product-area mt-50 mb-40">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="section-title text-center mb-40">
					<h2>محصولات جدید</h2>
					<p>جدیدترین محصولات آبادیس</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="product-active next-prev-style">
				{% for item in items %}
				<div class="col-xs-12">
					<div class="product-wrap">
						<div class="product-img">
							<a href="{{item.get_absolute_url}}">
								<img src="{{item.img_url.url}}" alt="">
							</a>

						</div>
						<div class="product-content text-center">
							<a href="{{item.get_absolute_url}}">{{item.title}}</a>
							{% comment %} <div class="ratting">
								<ul>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
							</div> {% endcomment %}
							<span class="product-price">{{item.get_price}} تومان</span>
							{% comment %} <del>$30.00</del> {% endcomment %}
							<a class="readmore" href="{{item.get_absolute_url}}"> مشاهده</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- product-area end -->


{% endblock content %}