{% extends "base.html" %}
{% block content %}

        <!-- .breadcumb-area start -->
        <div class="breadcumb-area black-opacity mt-84 bg-img-5">
        	<div class="table">
        		<div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="breadcumb-wrap text-center">
                                    <h1>Our Creative Blog</h1>
                                    <h2>Blog Details </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        	</div>
            <div class="breadcumb-menu">
                <div class="container">
                	<div class="row">
                		<div class="col-xs-12">
                			<ul>
                				<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                				<li>-/-</li>
                				<li><a href="blog.html">Blog</a></li>
                				<li>-/-</li>
                				<li>Blog Details</li>
                			</ul>
                		</div>
                	</div>
                </div>
            </div>
        </div>
        <!-- .breadcumb-area end -->
		
		<!-- product-details-area start -->
		<div class="product-details-area ptb-100 bg-4">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="product-details-wrap">
							<div class="product-details-active">
								<div class="product-details-img" data-hash="one">
									<img src="{{object.img_url.url}}" alt="" />
								</div>
								<div class="product-details-img" data-hash="two">
									<img src="{{object.img_url.url}}" alt="" />
								</div>
								<div class="product-details-img" data-hash="three">
									<img src="{{object.img_url.url}}" alt="" />
								</div>
							</div>
							<div class="thamb-active">
								<div class="product-details-thambnil">
									<a href="#one">
										<img src="{{object.img_url.url}}" alt="" />
									</a>
								</div>
								<div class="product-details-thambnil">
									<a href="#two">
										<img src="{{object.img_url.url}}" alt="" />
									</a>
								</div>
								<div class="product-details-thambnil">
									<a href="#three">
										<img src="{{object.img_url.url}}" alt="" />
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="product-details-conttent">
							<h2>{{object.title}}</h2>
							<div class="ratting">
								<ul>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
								<ul>
									<li>(06 Reviews)</li>
								</ul>
							</div>
							<div class="stock">
								<strong>Aveilable:</strong>
								<span>In Stock</span>
							</div>
							<p>Suspendisse posuere arcu diam, id accumsan eros pharetra ac. Nulla enim risus, facilisis bibendum gravida eget, lacinia id purus. Suspendisse posuere arcu diam, id accumsan eros pharetra ac. Nulla enim risus, facilisis bibendum gravida eget, lacinia id purus. Susp endisse posuere arcu diam, id accumsan eros pharetra ac.</p>
							<ul>
								<li>4.5 inch HD Touch Screen (1280 x 720)</li>
								<li>Android 4.4 KitKat OS</li>
								<li>1.4 GHz Quad Core™ Processor</li>
								<li>20 MP front and 28</li>
								<li>megapixel CMOS rear camera</li>
							</ul>
							<span>{{object.price}}</span>
							{% comment %} <del>$95.00</del> {% endcomment %}
							<div class="quality-wrap">
								<strong>QTY :</strong>
								<input type="number"/>
								<a href="{{object.get_add_to_cart_url}}"><i class="fa fa-shopping-cart"></i> Add to cart</a>
								<a href="{{object.get_remove_from_cart_url}}"><i class="fa fa-shopping-cart"></i> remove from cart</a>
							</div>
							<div class="share-wrap">
								<ul>
									<li class="share">Share</li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9 col-md-8 col-xs-12">
						<div class="product-details-menu">
							<ul>
								<li class="active"><a href="#description" data-toggle="tab">Description</a></li>
								<li><a href="#reviews" data-toggle="tab">Reviews (3)</a></li>
								<li><a href="#faqs" data-toggle="tab">FAQs</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane active" id="description">
								<div class="description-wrap clear">
									<h3>{{object.title}}</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in henderit in voluptater. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<h3>Features</h3>
									<ul>
										<li>Lorem ipsum dolor sit amet</li>
										<li>consectetur adipisicing elit</li>
										<li>Clean & Unique Design</li>
										<li>irure dolor in reprehenderit</li>
										<li>reprehenderit in voluptate</li>
										<li>cillum dolore eu fugiat</li>
										<li>Excepteur sint occaecat</li>
									</ul>
									<ul>
										<li>Fully Responsive Template</li>
										<li>Built with Html5 & CSS3</li>
										<li>Clean & Unique Design</li>
										<li>Powerful Bootstrap v3+</li>
										<li>Fully Responsive Layout</li>
										<li>Flat UI with Clean Style</li>
										<li>Sticky Menus</li>
									</ul>
									<ul>
										<li>Lorem ipsum dolor sit amet</li>
										<li>consectetur adipisicing elit</li>
										<li>Clean & Unique Design</li>
										<li>irure dolor in reprehenderit</li>
										<li>reprehenderit in voluptate</li>
										<li>cillum dolore eu fugiat</li>
										<li>Excepteur sint occaecat</li>
									</ul>
								</div>
							</div>
							<div class="tab-pane clear" id="reviews">
								<div class="review-wrap clear">
									<h3>3 Reviews For Chomok - Multipurpose Template</h3>
									<ul>
										<li>
											<div class="review-img">
												<img src="img/comment/2.jpg" alt="" />
											</div>
											<div class="review-info">
												<a href="#">Cover up tunic</a>
												<p>Excellent project and nice customer support.</p>
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</li>
										<li>
											<div class="review-img">
												<img src="img/comment/3.jpg" alt="" />
											</div>
											<div class="review-info">
												<a href="#">Ultra Wireless</a>
												<p>Such a great thing. Loved it.</p>
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</li>
										<li>
											<div class="review-img">
												<img src="img/comment/4.jpg" alt="" />
											</div>
											<div class="review-info">
												<a href="#">Anna Kowalsky </a>
												<p>Favorite one.</p>
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
								<div class="add-review">
									<h3>Add A Review</h3>
									<div class="ratting-wrap table-responsive">
										<table>
											<thead>
												<tr>
													<th>task</th>
													<th>1 Star</th>
													<th>2 Star</th>
													<th>3 Star</th>
													<th>4 Star</th>
													<th>5 Star</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Price</td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
												</tr>
												<tr>
													<td>Value</td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
												</tr>
												<tr>
													<td>Quality</td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
													<td><input type="radio" name="a"/></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<h4>Your Review:</h4>
											<textarea name="massage" id="massage" cols="30" rows="10" placeholder="Your review here..."></textarea>
										</div>
										<div class="col-md-6">
											<h4>Name:</h4>
											<input type="text" placeholder="Your name here..."/>
										</div>
										<div class="col-md-6">
											<h4>Email:</h4>
											<input type="email" placeholder="Your Email here..."/>
										</div>
										<div class="col-xs-12">
											<button class="btn-style">Submit</button>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="faqs">
								<div class="faq-wrap">
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading" id="headingOne">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
														General Inquiries
													</a>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in"   aria-labelledby="headingOne">
												<div class="panel-body">
													<p>Keep away from people who try to belittle your ambitions. Small peol always do that. Keep away from ast people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that.</p>
													<p>Small peol always do that. Keep away from astiil people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that. Small peol always do that.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading"   id="headingTwo">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
														How To Use
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse"   aria-labelledby="headingTwo">
												<div class="panel-body">
													<p>Keep away from people who try to belittle your ambitions. Small peol always do that. Keep away from ast people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that.</p>
													<p>Small peol always do that. Keep away from astiil people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that. Small peol always do that.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading"   id="headingThree">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
														Shipping & Delivery
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse"   aria-labelledby="headingThree">
												<div class="panel-body">
													<p>Keep away from people who try to belittle your ambitions. Small peol always do that. Keep away from ast people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that.</p>
													<p>Small peol always do that. Keep away from astiil people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that. Small peol always do that.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading"   id="headingfour">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
														Additional Information
													</a>
												</h4>
											</div>
											<div id="collapsefour" class="panel-collapse collapse"   aria-labelledby="headingfour">
												<div class="panel-body">
													<p>Keep away from people who try to belittle your ambitions. Small peol always do that. Keep away from ast people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that.</p>
													<p>Small peol always do that. Keep away from astiil people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that. Small peol always do that.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading"   id="headingfive">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
														Return Policy
													</a>
												</h4>
											</div>
											<div id="collapsefive" class="panel-collapse collapse"   aria-labelledby="headingfive">
												<div class="panel-body">
													<p>Keep away from people who try to belittle your ambitions. Small peol always do that. Keep away from ast people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that.</p>
													<p>Small peol always do that. Keep away from astiil people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that. Small peol always do that.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading"   id="headingsix">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
														Money Back Guarantee
													</a>
												</h4>
											</div>
											<div id="collapsesix" class="panel-collapse collapse"   aria-labelledby="headingsix">
												<div class="panel-body">
													<p>Keep away from people who try to belittle your ambitions. Small peol always do that. Keep away from ast people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that.</p>
													<p>Small peol always do that. Keep away from astiil people who try to belittle your ambitions. Small peol always do that. Keep away from people who try to ast belittle your ambitions. Small peol always do that. Small peol always do that.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="propuler-product">
							<div class="row">
								<div class="col-xs-12">
									<div class="section-title text-center mb-30">
										<h2>Propuler Product</h2>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="product-wrap">
										<div class="product-img">
											<a href="#">
												<img class="primary" src="img/product/1.jpg" alt="">
												<img class="secondary" src="img/product/2.jpg" alt="">
											</a>
											<div class="product-icon">
												<ul>
													<li>
														<a href="cart.html">
															<i class="fa fa-shopping-cart"></i>
															<span>Add to Cart</span>
														</a>
													</li>
													<li>
														<a href="wishlist.html">
															<i class="fa fa-heart"></i>
															<span>Wishlist</span>
														</a>
													</li>
													<li>
														<a href="checkout.html">
															<i class="fa fa-compress"></i>
															<span>Compare</span>
														</a>
													</li>
												</ul>
											</div>
											<span class="sale">Sale</span>
										</div>
										<div class="product-content text-center">
											<a href="product-details.html">Man T-Shirt</a>
											<div class="ratting">
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<span>$28.00</span>
											<del>$30.00</del>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="product-wrap">
										<div class="product-img">
											<a href="#">
												<img class="primary" src="img/product/3.jpg" alt="">
												<img class="secondary" src="img/product/4.jpg" alt="">
											</a>
											<div class="product-icon">
												<ul>
													<li>
														<a href="cart.html">
															<i class="fa fa-shopping-cart"></i>
															<span>Add to Cart</span>
														</a>
													</li>
													<li>
														<a href="wishlist.html">
															<i class="fa fa-heart"></i>
															<span>Wishlist</span>
														</a>
													</li>
													<li>
														<a href="checkout.html">
															<i class="fa fa-compress"></i>
															<span>Compare</span>
														</a>
													</li>
												</ul>
											</div>
											<span class="new">New</span>
										</div>
										<div class="product-content text-center">
											<a href="product-details.html">Woman T-Shirt</a>
											<div class="ratting">
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<span>$30.00</span>
											<del>$32.00</del>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="product-wrap">
										<div class="product-img">
											<a href="#">
												<img class="primary" src="img/product/5.jpg" alt="">
												<img class="secondary" src="img/product/6.jpg" alt="">
											</a>
											<div class="product-icon">
												<ul>
													<li>
														<a href="cart.html">
															<i class="fa fa-shopping-cart"></i>
															<span>Add to Cart</span>
														</a>
													</li>
													<li>
														<a href="wishlist.html">
															<i class="fa fa-heart"></i>
															<span>Wishlist</span>
														</a>
													</li>
													<li>
														<a href="checkout.html">
															<i class="fa fa-compress"></i>
															<span>Compare</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="product-content text-center">
											<a href="product-details.html">Kids T-Shirt</a>
											<div class="ratting">
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
											<span>$25.00</span>
											<del>$24.50</del>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
						<aside class="sm-mt-50">
							<!-- categorie-wrap -->
							<div class="categorie-wrap mb-30">
								<h3 class="sidebar-title">categorie <i class="fa fa-cube pull-right"></i></h3>
								<div class="categorie-menu p-20">
									<ul>
										<li><a href="#">Woman Product</a></li>
										<li><a href="#">Man Product</a></li>
										<li><a href="#">Digital Products</a></li>
										<li><a href="#">pant</a></li>
										<li><a href="#">Mobail</a></li>
										<li><a href="#">T-Shirt</a></li>
										<li><a href="#">Photos</a></li>
										<li><a href="#">Graphics</a></li>
									</ul>
								</div>
							</div>
							<!-- categorie-wrap -->
							
							<!-- price-range -->
							<div class="sidebar-wrap mb-30">
								<h3 class="sidebar-title">Price Range <i class="fa fa-university pull-right"></i></h3>
								<div class="price-range">
									<div id="slider"></div>
								</div>
							</div>
							<!-- price-range -->
							
							<!-- tag-wrap -->
							<div class="tag-wrap mb-30">
								<h3 class="sidebar-title">Price Range <i class="fa fa-tags pull-right"></i></h3>
								<div class="tag p-20">
									<ul>
										<li><a href="#">HTML</a></li>
										<li><a href="#">Css3</a></li>
										<li><a href="#">T-Shirt</a></li>
										<li><a href="#">Pant</a></li>
										<li><a href="#">Shirt</a></li>
										<li><a href="#">Photo</a></li>
										<li><a href="#">HTML5</a></li>
										<li><a href="#">Photoshop</a></li>
									</ul>
								</div>
							</div>
							<!-- tag-wrap -->
							<div class="related-product">
								<h3 class="sidebar-title">Related Product <i class="fa fa-product-hunt pull-right"></i></h3>
								<div class="related-product-sidebar p-20">
									<div class="related-product-item clear">
										<div class="related-product-img">
											<img src="img/related/1.jpg" alt="" />
										</div>
										<div class="related-product-content">
											<a href="#">Woman Best T-Shirt</a>
											<div class="ratting">
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<p>$30.00</p>
										</div>
									</div>
									<div class="related-product-item clear">
										<div class="related-product-img">
											<img src="img/related/2.jpg" alt="" />
										</div>
										<div class="related-product-content">
											<a href="#">Man Nice T-Shirt</a>
											<div class="ratting">
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<p>$30.00</p>
										</div>
									</div>
									<div class="related-product-item clear">
										<div class="related-product-img">
											<img src="img/related/3.jpg" alt="" />
										</div>
										<div class="related-product-content">
											<a href="#">Kids Best T-Shirt</a>
											<div class="ratting">
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<p>$30.00</p>
										</div>
									</div>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<!-- product-details-area end -->
		
		<!-- brand-area start -->
		<div class="brand-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="brand-active">
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/1.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/2.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/3.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/4.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/5.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/6.jpg" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="brand-wrap">
								<a href="#">
									<img src="img/brand/7.jpg" alt="" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- brand-area start -->
		
{% endblock content %}
	