{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- breadcumb-area start -->
<div class="bradcumb-area black-opacity bg-img-1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="bradcumb-wrap">
					<h2>فروشگاه</h2>
					<ul>
						<li><a href="/">صفحه اصلی</a></li>
						<li>|</li>
						<li>فروشگاه</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- breadcumb-area end -->

<!-- shop-area start -->
<div class="shop-area ptb-100 bg-4 product-area2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="tab-content">
					<div class="tab-pane active" id="grid">
						<div class="row">
							{% for item in object_list %}
							<div class="col-xs-12 col-lg-3 col-md-4 col-sm-6 pull-right">
								<div class="product-wrap mb-30">
									<div class="product-img">
										<a href="{{item.get_absolute_url}}">
											<img src="{{item.img_url.url}}" alt="">
											{% comment %} <img class="secondary" src="img/product/2.jpg" alt="">
											{% endcomment %}
										</a>
										{% comment %} <div class="product-icon">
											<ul>
												<li>
													<a href="cart.html">
														<i class="fa fa-shopping-cart"></i>
														<span>Add to Cart</span>
													</a>
												</li>
												<li>
													<a href="wishlist.html">
														<i class="fa fa-heart"></i>
														<span>Wishlist</span>
													</a>
												</li>
												<li>
													<a href="checkout.html">
														<i class="fa fa-compress"></i>
														<span>Compare</span>
													</a>
												</li>
											</ul>
										</div> {% endcomment %}
										{% comment %} <span class="sale">{{item.category}}</span> {% endcomment %}
									</div>
									<div class="product-content text-center">
										<a href="{{item.get_absolute_url}}">{{item.title}}</a>
										{% comment %} <div class="ratting">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
										</div> {% endcomment %}
										<span class="product-price">{{item.get_price}} تومان</span>
										<div>
										<a class="readmore" href="{{item.get_absolute_url}}"> مشاهده</a>
										</div>
										{% comment %} <del>$30.00</del> {% endcomment %}
									</div>
								</div>
							</div>

							{% endfor %}


						</div>
						{% if is_paginated %}
						<div class="row">
							<div class="col-xs-12">
								<div class="pagination-wrap">
									<ul>
										{% if page_obj.has_previous %}
										<li><a href="?page={{page_obj.previous_page_number}}"><i
													class="fa fa-angle-left"></i></a></li>
										{% endif %}
										<li class="active"><a href="?page={{page_obj.number}}">{{page_obj.number}}</a>
										</li>
										{% if page_obj.has_next %}
										<li><a href="?page={{page_obj.next_page_number}}"><i
													class="fa fa-angle-right"></i></a></li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
						{% endif %}

					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>
<!-- .shop-area end -->

{% endblock content %}