{% extends "base.html" %} {% block content %}


<!--contact area start-->
<div class="contact-area ptb-100 bg-4">
    <div class="contact-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12  clear">

                    <div class="contact-item text-center">
                        <i class="fa fa-phone"></i>
                        <p>09109388289</p>
                    </div>
                    <div class="contact-item text-center">
                        <i class="fa fa-envelope"></i>
                        <p>info@abadis-shop.ir</p>
                    </div>

                </div>
            </div>
            <div class="form-style">
                <h2>فرم خرید</h2>
                <div class="cf-msg"></div>
                <form method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                            <label>نوع محصول انتخابی(جنس و رنگ و سایز قید شود):</label> {{form.product}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                            <label>نام و نام خانوادگی گیرنده:</label> {{form.name}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                            <label>شماره تماس گیرنده:</label> {{form.tel}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                            <label>کدپستی:</label> {{form.zip_code}}
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                            <label>آدرس محل تحویل سفارش:</label> {{form.address}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                            <label>نحوه آشنایی با آبادیس:</label> {{form.familiar}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                            <label>انتقادات و پیشنهادات جهت ارتقا کیفیت کار:</label> {{form.criticism}}
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button id="submit" class="cont-submit btn-contact" name="submit">ارسال پیام</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}